h1{
    color: rgb(6, 7, 7);
    background-color: aqua ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}


p{
    background-color: aquamarine;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
    /* border-width: 3px;
    border-style:dotted;
    border-color: rgb(5, 5, 8); */
    border: 2px solid red;
    width: 200px;
    height: 200px;
    

}



#I1{
    color: rgb(6, 7, 7);
    background-color: aqua ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;

}

.CL1{
    background-color: aquamarine;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-style: italic;
    /* border-width: 3px;
    border-style:dotted;
    border-color: rgb(5, 5, 8); */
    border: 2px solid red;
    padding: 10PX;
}