#container {
    font-family: "Arial", sans-serif;
    background-color: ;
    color: darkgreen;
    font-size: 28px;
    display: flex;
}

#container2{
    font-family: "Arial", sans-serif;
    background-color: ;
    color: rgb(100, 32, 0);
    font-size: 28px;
    display: flex;
}
#container2 {
    font-family: "Arial", sans-serif;
    background-color: ;
    color: rgb(100, 0, 0);
    font-size: 28px;
    display: flex;
}